/* *{
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/29/cb/d5/29cbd5c73bac071fb7ade09bcac4feb8.gif");
  background-position: center;
  background-size: cover;
} */
body{
  background-image: url("https://i.pinimg.com/originals/5a/84/72/5a8472aeb04050c2b46082328d3fdb0d.gif");
background-size: cover;
background-repeat: no-repeat;

}
.container{
  text-align: center; 
  margin-top: 100px; 
}
.container2 {
  border: 5px solid black;
  background-color: rgba(200, 200, 300, .40);
  height: 450px;
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 2.5%;
  
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
#time {
  font-size: 25px;
}
#city{
  font-size: 25px;
}
#temp{
  font-size: 55px;
}
#desc{
  font-size: 20px;
}
.weatherIcon{
  height: 90px;
}

h1{
  text-shadow: 3px 3px 9px black;
}
#inputZip{
  text-align: center;
}